.splitflap {
    margin: 0 auto;
    -webkit-perspective-origin: top center;
    -moz-perspective-origin: top center;
    -ms-perspective-origin: top center;
    perspective-origin: top center;
    -webkit-perspective: 900px;
    -moz-perspective: 900px;
    -ms-perspective: 900px;
    perspective: 900px;
}